.container_mobile{display: none;}


@media (max-width: 1150px) {
.container_mobile{
    position: absolute;
    width: 200px;
    height: fit-content;
    right: 0;
    top:120px;
    z-index:10;
    display: flex;
    background:var(--red-primary);
    padding: 10px;
    justify-content: center;
}



.list_mobile{
    display: flex;
    justify-content: center;
    gap:2rem;
    flex-direction: column;
    text-align: center;
}



.listItem_mobile{
    text-decoration: none;
    color: var(--black-primary);
    background-color: var(--white-primary);
    border-radius: 999px;
    padding: 10px;
    font-size: 20px;
}

.listItem_mobile:hover{
    background-color: var(--black-primary);
    color: white;
}
}