.pagination_container {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 160px;
}

.pagination_text {
  font-size: 30px;
  margin: 0 20px;
  flex-wrap: nowrap;
  color:var(--white-primary)
}

.pagination {
  background-color: var(--red-primary);
  padding: 2px 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px;
}

.pagination_button {
  background-color: var(--black-primary);
  border-radius: 10px;
  color: var(--white-primary);
  padding: 7px;
  display: flex;
  cursor: pointer;
  border: none;
}

.pagination_button:hover {
  background-color: var(--white-primary);
  color: var(--black-primary);
  transition: 0.2s;
}


@media screen and (max-width:650px)
{
  .pagination_container{
    position:relative;
    top: 0;
  }
}