.pagination_container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pagination_text{
    font-size: 30px;
    font-weight: 400;
    margin: 0 5px;
    border-bottom: 2px solid rgb(231, 225, 225);
    flex-wrap: nowrap;

}

    .pagination{
        background-color: rgb(192, 188, 188);
        padding: 10px;
        border-radius: 999px;
        box-shadow: 2px 2px 2px ;
    }

.pagination_button{
    background-color: rgb(14, 14, 14);
    border-radius: 999px;
    color: rgb(192, 188, 188);
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 2px 2px 5px;
    border: none;
}

.pagination_button:hover{
background-color: rgb(247, 244, 244);
color: black;
transition: 0.2s;
}