.pokemon_card {
  border: 1px solid rgb(0, 0, 0);
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  background-color: rgb(184, 184, 184);
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  box-shadow: 1px 1px 2px;
  cursor: default;
}

.pokemon_image-container {
  background-color: white;
  border-radius: 999px;
  box-shadow: 2px 2px 2px 2px gray;
}

.pokemon_image {
  width: 250px;
}

.pokemon_image:hover {
  animation: bounce 1s infinite;
}

.card_body {
  display: flex;
  background-color: rgb(253, 253, 253);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 5px;
  min-height: 90px;
  padding: 10px;
  box-shadow: 2px 2px rgb(91, 91, 91);
}

.card_header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  background-color: rgb(253, 253, 253);
  justify-content: center;
  box-shadow: 2px 2px gray;
  border-radius: 10px;
}

.card_header div {
  padding-left: 10px;
  font-size: 30px;
  font-weight: 600;
}

.card_header h3 {
  font-size: 30px;
}



@keyframes bounce {
  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  70% {
    transform: translateY(-5px);
  }
  90% {
    transform: translateY(-2px);
  }
}
