.pokemon_card {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  margin: 20px;
  cursor: default;
}

.pokemon_image-container {
  background-color: white;
  border-radius: 999px;
  box-shadow: 2px 2px 2px 2px gray;
}

.pokemon_image {
  width: 250px;
}

.pokemon_image:hover {
  animation: bounce 1s infinite;
}

.card_body {
  display: flex;
  background-color: rgb(253, 253, 253);
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  margin-top: 5px;
  min-height: 120px;
  padding: 10px;
  box-shadow: 2px 2px rgb(91, 91, 91);
}

.card_header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  background-color: rgb(253, 253, 253);
  justify-content: center;
    box-shadow: 2px 2px 2px rgb(12, 12, 12);

  border-radius: 10px;
}

.card_header div {
  padding-left: 10px;
  font-size: 30px;
  font-weight: 600;
}

.card_header h3 {
  font-size: 30px;
}

.card_footer div{
  margin: 10px 0;
}



@keyframes bounce {
  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  70% {
    transform: translateY(-5px);
  }
  90% {
    transform: translateY(-2px);
  }
}

.pokemon_stats_button{
  border: none;
  background-color: white;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  align-self:end;
}

.pokemon_stats_button:hover{
  color: rgb(178, 13, 13);
}


.pokemon_stats{
  position: absolute;
  background-color: rgb(242, 242, 242);
 flex-direction: column;
  margin-top: 340px;
  z-index: 10;
  height: 300px;
  border-radius: 10px;
  border: 2px solid black;
  display: flex;
  justify-content:end;
}

.pokemon_stats div{
justify-content: space-between;
font-size:25px;
border-bottom: 1px solid;
padding: 5px 5px;
}

.pokemon_stats :last-child{
  border: none;
  }


