.grass {
  background: linear-gradient(90deg, #7ac74c, #6ca347);
  padding: 10px;
  border-radius: 5px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 2px var(--black-primary);
  min-width: 100px;
  color: rgb(1, 38, 7);
}
.fire {
  background: linear-gradient(90deg, #ee8130, #d16627);
  padding: 10px;
  border-radius: 5px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 2px var(--black-primary);
  min-width: 100px;
  color: rgb(69, 25, 2);
}

.water {
  background: linear-gradient(90deg, #6390f0, #547dd1);
  padding: 10px;
  border-radius: 5px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 2px var(--black-primary);
  min-width: 100px;
  color: rgb(3, 28, 67);
}
.bug {
  background: linear-gradient(90deg, #a6b91a, #8f9f17);
  padding: 10px;
  border-radius: 5px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 2px var(--black-primary);
  min-width: 100px;
  color:#303602;
}
.normal {
  background: linear-gradient(90deg, #a8a77a, #8e8e6d);
  padding: 10px;
  border-radius: 5px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 2px var(--black-primary);
  min-width: 100px;
  color:  #2e2e01;
}

.poison {
  background: linear-gradient(90deg, #a33ea1, #86328b);
  padding: 10px;
  border-radius: 5px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 2px var(--black-primary);
  color: #13022e;
  min-width: 100px;
  color: #1d011f;
}
.electric {
  background: linear-gradient(90deg, #f7d02c, #e6b728);
  padding: 10px;
  border-radius: 5px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 2px var(--black-primary);
  min-width: 100px;
  color: #413101;
}

.ground {
  background: linear-gradient(90deg, #e2bf65, #c7a657);
  padding: 10px;
  border-radius: 5px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 2px var(--black-primary);
  min-width: 100px;
  color: #443003;
}

.fairy {
  background: linear-gradient(90deg, #d685ad, #c06999);
  padding: 10px;
  border-radius: 5px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 2px var(--black-primary);
  min-width: 100px;
  color: #2f021b;
}
.psychic {
  background: linear-gradient(90deg, #f95587, #e64474);
  padding: 10px;
  border-radius: 5px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 2px var(--black-primary);
  min-width: 100px;
  color: #2b020e;
}
.fighting {
  background: linear-gradient(90deg, #c22e28, #a82420);
  padding: 10px;
  border-radius: 5px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 2px var(--black-primary);
  min-width: 100px;
  color: #250200;
}
.rock {
  background: linear-gradient(90deg, #b6a136, #9f8831);
  padding: 10px;
  border-radius: 5px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 2px var(--black-primary);
  min-width: 100px;
  color: #2f2502;
}
.ice {
  background: linear-gradient(90deg, #96d9d6, #80b9b7);
  padding: 10px;
  border-radius: 5px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 2px var(--black-primary);
  min-width: 100px;

  color:#012927;
}
.ghost {
  background: linear-gradient(90deg, #735797, #654c8c);
  padding: 10px;
  border-radius: 5px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 2px var(--black-primary);
  min-width: 100px;
  color: #12022b;
}
.dragon {
  background: linear-gradient(90deg, #6f35fc, #6631d1);
  padding: 10px;
  border-radius: 5px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 2px var(--black-primary);
  min-width: 100px;
  color: #0a011c;
}
.dark {
  background: linear-gradient(90deg, #705746, #5e4d3f);
  padding: 10px;
  border-radius: 5px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 2px var(--black-primary);
  min-width: 100px;
  color: #221001;
}
.flying {
  background: linear-gradient(90deg, #a98ff3, #8f70e7);
  padding: 10px;
  border-radius: 5px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 2px var(--black-primary);
  min-width: 100px;
  color: #09011e;
}

.steel {
  background: linear-gradient(90deg, #b7b7ce, #a3a3bf);
  padding: 10px;
  border-radius: 5px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 2px var(--black-primary);
  min-width: 100px;
  color:  #010123;
}
