.store {
  
  background:var(--background-gradient);
  padding: 20px;
}

.store_image {
  position: relative;
  max-height: 400px;
  width: 100%;
  border-radius: 10px;
}

.store_text {
  position: relative;
  color: var(--white-primary);
  background-color: rgba(15, 15, 15, 0.8);
  font-size: 50px;
  font-weight: 900;
  width: 600px;
  height: fit-content;
  left: 0;
  bottom: 200px;
  padding: 5px;
  border-radius: 0 10px 10px 0;
  padding: 0 10px;
}

.store_searchbar {
  position: relative;
  padding: 10px;
  height: 20px;
  width: 555px;
  bottom: 200px;
  margin: 10px 5px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 2px black;
}

.pokemon_items_list {
  display: flex;
  flex-wrap: wrap;
}

.pokemon_item {
  width: 100%;
  background-color: rgb(72, 69, 69);
  display: flex;
  align-items: center;
  border-bottom: 2px solid;
  margin: 5px;
}

.item_title_div {
  max-width: 500px;
}

.pokemon_item_image {
  width: 350px;
  height: 250px;
  padding: 10px;
  margin: 10px;
  border-right: 1px solid gray;
}

.pokemon_item_text {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.item_price {
  background-color: rgb(228, 228, 153);
  font-size: 25px;
  border-radius: 20px;
  padding: 10px;
  color: #610404;
  align-items: center;
  display: flex;
}

.pokemon_item_name {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.item_price_div {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  align-items: flex-end;
}

.item_cart {
  border: none;
  background:none;
  cursor: pointer;
  align-items: center;
  display: flex;
  font-size: 25px;
  margin: 20px 0;
}
.item_cart:hover {
  color: #4d4d4d;
  transition: 0.3s;
}

.pokemon_item_description {
  text-transform: lowercase;
  font-size: 30px;
}

.pokemon_item_description::first-letter {
  text-transform: uppercase;
}

.item_price_discount {
  display: none;
  background-color: rgb(5, 163, 29);
  font-size: 25px;
  color: #fdfdfd;
  border-radius: 20px;
  margin-left: 5px;
  padding: 5px;
}

.pokemon_items_list :nth-child(4n + 5) .item_price_discount {
  display: flex;
}

.button_cart {
  display: flex;
  width: 50px;
  background: none;
  border: none;
  cursor: pointer;
  color: #0c0c0c;
}
.cart {
  position: absolute;
  background-color: #565555;
  width: 900px;
  height: 200px;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 5px;
}

.cart_list {
  display: flex;
}

.closeicon {
  display: flex;
  background: none;
  border: none;
  align-self: end;
  cursor: pointer;
  background-color: #a7a3a3;
  border-radius: 999px;
  padding: 0;
  position: absolute;
}

.cart_item {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  padding: 10px;
  border-right: solid 1px #282828;
  font-size: 15px;
}

.cart_item:last-child {
  border-right: none;
}

.cart_container {
  position: relative;
  bottom: 180px;
  align-items: flex-start;
  font-size: 40px;
  color: var(--black-primary);
  display: flex;
  padding:30px;
  border-bottom: 2px solid;
  background-color: #4d4d4d;
  align-items: center;
}

.cart_text {
  font-size: 30px;
  margin-top: 50px;
}

@media screen and (max-width: 1024px) {
  .pokemon_items_list {
    justify-content: center;
  }
  .pokemon_item {
    flex-direction: column;
    max-width: 600px;
    border-radius: 20px;
    overflow: hidden;
  }

  .pokemon_item_image {
    border-right: none;
    border-radius: 20px;
  }

  .pokemon_item_text {
    flex-direction: column;
    text-align: center;
    background-color: rgb(133, 130, 130);
    padding: 20px;
  }

  .item_price_div {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }
  .item_price {
    font-size: 30px;
  }
}

@media screen and (max-width: 700px) {
  .store_text {
    font-size: 30px;
    width: auto;
    display: none;
  }

  .store_searchbar {
    width: auto;
    top: 10px;
  }
  .store_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .cart_container {
    position: auto;
    border: none;
    bottom: auto;
    background: none;
    justify-content: center;
    display: flex;

  }

  .cart {
    position: absolute;
    justify-content: center;
    width: 300px;
    height: 400px;
    left: 0;
    flex-direction: column;
    overflow: scroll;
  }
  .cart_list {
    flex-direction: column;
    height: auto;
  }

  .cart_item{
    border-right:none ;
  }

  .cart_text{
    padding: 20px;
  }

  .closeicon{
    position: relative;
    margin: 10px;  }
}

@media screen and (max-width: 320px){
    .item_price{
flex-direction: column;    }
}
