.searchbar_container {
  display: flex;
  align-items: center;
  margin: 20px 0;
  justify-content: flex-end;
}

.searchbar {
  height: 20px;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  box-shadow: 0px 2px 2px (0, 0, 0, 0.25);
  background-color: rgb(255, 255, 255);
width: 150px;}
  

.searchbar_button {
  height: 42px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  margin-left: 5px;
  color: white;
  background-color: rgb(31, 31, 31);
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.searchbar_button p{
  margin-right: 5px;
}

.searchbar_button:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(31, 31, 31);
}


@media  screen and (max-width:650px) {
  .searchbar_button p{
    display:none
  }

  .searchbar_button{
    padding: 10px;
  }

  .searchbar_container{
    justify-content: center;
  }

}