.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f74646;
  height: 120px;
}

.navbarLogo {
  display: flex;
  align-items: center;
}

.Logo {
  width: 100px;
  height: 100px;
}

.Logo:hover {
  animation: bounce 1s linear;
}

.Pikachu {
  width: 100%;
  height: 100%;
}

.pokeball {
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 999px;
  box-shadow: 5px 5px #cfcdcd;
  cursor: pointer;
}
.pokeball_mobile {
  display: none;
}
.pokeball:hover {
  animation: shake 0.5s alternate 2;
}

.hamburger_menu{
  display: none;
}

@keyframes shake {
  20% {
    transform: translate(-2px, 0) rotate(-10deg);
  }
}

@keyframes bounce {
  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  70% {
    transform: translateY(-5px);
  }
  90% {
    transform: translateY(-2px);
  }
}

.navbarText {
  font-size: 80px;
  font-weight: 900;
  display: flex;
  color: rgb(247, 247, 247);
  align-items: center;
  text-shadow: 5px 5px rgb(128, 127, 127);
  text-indent: 5px;
}

.list {
  display: flex;
  list-style: none;
}
.hamburger_mobile {
  display: none;
}

.listItem {
  text-decoration: none;
  color: rgb(12, 12, 12);
  font-size: 30px;
  font-weight: 600;
  margin: 0 10px;
  border-radius: 5px;
}
.list_mobile {
  display: none;
}

.listItem:hover {
  transition: 200ms;
  animation: bounce 0.8s linear;
  text-decoration: underline #fefefe;
  color: #fefefe;
}

@media (max-width: 1150px) {
  .listItem {
    display: none;
  }

  .hamburger_menu{display: contents
    ;color: #fefefe;}

  .hamburger_menu:hover{
  color: #121212;
  }

}

@media (max-width: 700px) {
  .navbarLogo {
    display: none;
  }

  .pokeball_mobile {
    display: flex;
    width: 80px;
    background-color: #fff;
    border-radius: 999px;
    box-shadow: 5px 5px rgb(207, 205, 205);

  }

  .navbar {
    justify-content:space-between;
    padding: 0 20px;
  }

  
}
