

.footer{
display: flex;
min-height: 100px;
align-items: center;
justify-content: space-around;
padding: 0 50px;
background-color: var(--red-primary);
flex-wrap: wrap;

}

.footer_links{
    margin: 10px;
    display: flex;
}

.link_icon{
    margin: 10px;
    color: var(--black-primary);
}

.link_icon:hover{
    color: #fdfdfd;
    transition: 0.4s;
}

@media screen and (max-width:600px) {
    .footer{
        padding: 20px;
    }

    .footer_links{
        margin: 10;
    }
}

.email_button{
    color: var(--black-primary);
    background-color: var(--black-primary)00;
    border: none;
    align-items: center;
    display: flex;
cursor: pointer;}

.email_button:hover{
    color: var(--white-primary);
    transition: 0.4s;
}